header {
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 5rem;
}

h1 {
    font-weight: 700;
    font-size: 3.5rem;
}

.btn {
    cursor: pointer;
    border: none;
    background: transparent;
}

.btn:hover {
    outline: none;
}

/* .wrapper {
    width: 100%;
    padding: 5rem 0 5rem 0;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: top center;
}
.wrapper.light {
    color: var(--color-dark-grayish-blue);
    background-color: var(--color-very-light-gray);
    background-image: url('../../assets/bg-desktop-light.jpg');
}

.wrapper.light button {
    color: var(--color-dark-grayish-blue);
} */